*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   overflow-x: hidden;
}
body{
   width: 100%;
   height: 100%;
   position: relative;
}
#header{
   position: absolute;
   width: 100vw;
   height:50px;
   top: 0;
   left: 0;
   background: #FFFFFF;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 30px;
   padding-right: 30px;
}
.fixed{
   position: fixed !important;
   width: 100vw;
   height: 40px;
   top: 0;
   left: 0;
   background: rgba(0,0,0,0.5);
   z-index: 11;
   padding-left: 30px;
   padding-right: 30px;
}
.nav-links{
   display: inline-block;
   text-decoration: none;
   cursor: pointer;
   transition: all 0.5s ease-in-out;
}

.first{
   font-style: normal;
   font-weight: bold;
   color: #5f5f5f;
   font-size: 1.5rem;
}
.first:hover{
   color:#31AA52;
   font-weight: normal;
}
.second{
   font-style: normal;
   font-weight: bold;
   color: #5f5f5f;
   padding-right: 30px;
   text-align: center;
   font-size: 1.5rem;
}
.second:hover{
font-weight: normal;
color:#31AA52;
}
.third{
   background: #31AA52;
   border-radius: 6px;
   padding:6px 14px;
   text-align: center;
   font-size: 1.5rem;
   color: #fff;
   margin-top: 8px;

}
.third:hover{
   background-color: #fff;
   color:#31AA52;
}
/* nex section */
.sibheader{
   width: 100%;
   height: 450px;
   position: relative;
   top: 50px;
   background:linear-gradient(rgba(49, 170, 82, 0.65),rgba(49, 170, 82, 0.65)), url('../images/Rectangle\ 6.svg') center/cover no-repeat fixed;
}
.sibheader h2{
   color: #fff;
   text-transform: capitalize;
   font-weight: normal;
   font-size: 60px;
   padding-left:40px;
   padding-top: 100px;
   letter-spacing: 0px;
}
.sibheader .icons{
   width: 400px;
   display: flex;
   margin: 0 auto;
   justify-content: center;
}
@media screen and (min-width:776px){
   .sibheader h2{
      padding-left: 460px;
   }
}
.icons a{
   transition: scale 0.5s ease-in-out;
   cursor: pointer;
}
.icons a img{
   width: 100%;
}
.icons a:hover{
   transform: scale(0.9);
}
.link{
   display:block;
   font-size: 11px;
}
.nextheading{
   font-size: 18px;
}
.nextheading ,.link{
   text-align: center;
   color: #fff;
   font-weight: 500;
   text-transform: capitalize;letter-spacing: 2.2px;
}
.link{
   opacity: 0.85;
   letter-spacing: 1.1px;
}
.loginSec{
   background: #E5E5E5;
   padding-top: 50px;
   width: 100vw;
   height: 490px;
   display: flex;
   align-items: center;
   justify-content: space-between
}
.loginSec .firstBox{
   width: 300px;
   position: relative;
   
}
.loginSec .firstBox img{
   width: 100%;
   

}
@media screen and (min-width:776px) {

   .loginSec .firstBox::before{
      content: "";
      left: 28px;
      width: 245px;
      height: 255px; 
   }
}

.secondBox h2{
   /* text-align: center; */
   color: #31AA52;
   font-weight: 500;
   font-size: 1.2rem;
}
.secondBox p{
   font-style: normal;
   font-weight: 500;
   font-size: 1.2rem;
   color: #000000;
   width: 220px;
   text-align: center;
   opacity: 0.7;
   text-align: left;
   line-height: 36px;
}
.secondBox{
   padding-right: 50px;
}
@media screen and (min-width:776px){
   .loginSec{
      justify-content: space-around !important;
   }
}
#operations{
   width: 100%;
   height: 490px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#operations .firstBox h2{
   color: #31AA52;
   font-weight: 500;
   font-size: 1.3rem;
}
#operations .firstBox, #operations .secondBox{
   flex: 0 0 calc(50% - 30px);
}
#operations .firstBox{
   margin-left: 50px;
}
#operations .secondBox{
   margin-left: 50px;
   position: relative;
   width: 310px;
}
#operations .firstBox p{
   font-style: normal;
   font-weight: 500;
   font-size: 1.2rem;
   color: #000000;
   width: 210px;
   text-align: left;
   opacity: 0.7;
   line-height: 36px;
}
/* #operations .secondBox{
   width: 300px;
   
} */
#operations .secondBox img{
   width: 100%;
   display: block;
   padding: 0;
   height: 100%;
   

}
/* #operations .secondBox::before{ 
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   width: 185px;
   bottom: 0;
   height: 176px;
   border: 2px solid #31AA52;} */

@media screen and (min-width:776px){
   #operations .firstBox{
      flex: 0 0  calc(30% - 20px);
   }
   #operations .secondBox{
      flex: 0 0  calc(30% - 20px);
   }
   
}
#factors{
   width: 100%;
   height: 100%;
   display: flex;
   padding-left: 30px;
   padding-top: 30px;
   background: #E5E5E5;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
}
.article{
   flex: 0 0  calc(50% - 40px);
}
#factors .img{
   width: 40px;
   margin: 0 auto;
}
#factors .img img{
   width: 100%;
   height: 50px;
}
#factors article h3{
   color: #31AA52;
   font-weight: 500;
   font-style: normal;
   text-align: center;
   font-size: 1.2rem;
}
#factors article  p{
   width: 90%;
   font-size: 1.2rem;
   font-weight: 500;
   text-align: center;
   padding-bottom:20px;
   line-height: 36px;
}
@media screen and (min-width:776px){
   #factors{
      display: flex;
      justify-content: space-around;
      flex-direction: row !important;
      flex-wrap: nowrap !important;
         padding-left: 120px;
   }
   .article{
   flex: 0 0  calc(33.33% - 40px);
}
   #factors article  p{
   width: 40%;
   text-align: left !important;
}
#factors .img{
   margin: 0;
}
#factors h3{
   text-align: left !important;
   width: 50%;
}
#factors article:last-child p{
   width: 45%;
}
}
#paraSec{
   width: 100%;
   height: 100%;
}
.paraDiv{
   width: 95%;
   margin: 0 auto;
   padding: 30px;
}
#paraSec p{
   font-size: 1.3rem;
   width: 100%;
   text-align: center;
   color: #37B34A;
   line-height: 36px;
}
@media screen and (min-width:776px){
   .paraDiv{
      width: 40%;
   }
   #paraSec p{
      font-size: 1.3rem;
   }
}
#lastPara{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #E5E5E5;
   padding-top: 40px;
}
.paraSecs article{
   display: flex;
} 
.paraSecs article p{
   padding:2px 6px;
   font-weight: 500;
   font-size:1.3rem;
   line-height: 36px;
}
.paraSecs article .fa{
   color: #37B34A;
   font-size: 18px;
}
.paraBtn{
   text-decoration: none;
   color: #fff;
   background:  #37B34A;
   padding:5px 9px;
   letter-spacing: 2px;
   display: inline-block;
   margin:0 auto;
   
}
.paraSecs{
   margin: 0 auto;
   padding-left: 50px;
}
.btn{
   width: 50%;
   margin: 0 auto;
   padding: 20px;
}
.copy{
   background: #E5E5E5;
   width: 100%;
   padding-top: 32px;
   padding-bottom: 30px;
   padding-left: -2px;
   margin: 0 auto;
}
.copy p {
   width: 100%;text-align: center;
   font-size: 13px;
}