   <div class="container-fluid">
        <div class="row work-footer">
            <div class="col-10 col-sm-5 col-md-4 col-xl-3 mx-auto pt-5">
            <img src="img/signup/footer-logo.png" alt="footer-logo" class="img-fluid">
            </div>

            <div class="col-10 col-sm-5 col-md-4 col-xl-2 mx-auto pt-4 pt-sm-5">
            <p>Products</p>
            <ul>
                <li><a href="#">Authentication Api</a></li>
                <li><a href="#">Excel Api</a></li>
                <li><a href="#">SMS Api</a></li>
                <li><a href="#">Vibes Api</a></li>
            </ul>
            </div>

            <div class="col-10 col-sm-5 col-md-4 col-xl-2 mx-auto pt-4 pt-sm-5">
            <p>Collaboration</p>
            <ul>
                <li><a href="#">Comments</a></li>
                <li><a href="#">Track Changes</a></li>
                <li><a href="#">Help Center</a></li>
            </ul>
            </div>

            <div class="col-10 col-sm-5 col-md-6 col-xl-2 mx-auto pt-4 pt-sm-5">
            <p>Support</p>
            <ul>
                <li><a href="#">MicroApi GitHub</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Help Center</a></li>
            </ul>
            </div>

            <div class="col-10 col-sm-11 col-md-6 col-xl-2 mx-auto pt-4 pt-sm-5">
            <p>Explore</p>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            </div>
        </div>
        <div class="row bottom-footer mt-2">
            <p class="col-12 text-center pt-3"> All rights Reserved &copy;MicroApi</p>
        </div>
    </div>

    