<div class="container-fluid nav-bg">
            <nav class="navbar navbar-expand-md navbar-light">
                <a href="#" class="navbar-brand pl-lg-5">
                    <img src="img/signup/logo.png" alt="logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
                aria-controls="collapsibleNavbar"
                aria-expanded="false"
                aria-label="Toggle Navigation">
                <!-- <img src="./img/signup/hamburger-menu-38.png" alt="hamburger-menu" class="img-fluid">    -->
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" id="growth">
                    <li class="nav-item pr-2 normal">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item pr-2 normal">
                        <a class="nav-link" href="#">About Us</a>
                      </li>
                      <li class="nav-item pr-2 normal">
                        <a class="nav-link" href="#">Contact Us</a>
                      </li>
                      <li class="nav-item pr-2 normal">
                        <a class="nav-link" href="#">Documentation</a>
                      </li>
                      <li class="nav-item abnormal pr-lg-4">
                        <a class="nav-link" href="#">Sign In</a>
                      </li>
                </ul>
            </div>
            </nav>
        </div>