<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>MicroAPI | <%= pageName %></title>   
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
<!-- <link rel="stylesheet" href="css/bootstrap.min.css" /> -->
<link rel="stylesheet" href="css/responsive.css" />
<link rel="stylesheet" href="css/index.css" />
<link rel="stylesheet" href="css/signup.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>

