
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" href="/" style="color: white !important;">
              <img src="assets/logo.png">
            </a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/" class="five" style=" color:white; margin-bottom:6px; font-size: 20px !important;">Dashboard</a>
                  </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/authapi" class="five" style=" color:green; margin-bottom:6px; font-size: 20px !important;">Authentication APi</a>
                  </li>

              </ul>

            </div>
        </nav>
   
