
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/billings" style="color: white !important;">Billing</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="/usage" class="five"style="color:white; font-size: 18px   !important; " >Usage </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/authset" class="five" style=" color:white; font-size: 18px !important;">Settings</a>
                      </li>

                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input type="text"  placeholder="Name" id="one" style="margin-right: 100px;">
                    <img src="assets/help-circle.png" alt="" class="img1">
                    <img src="assets/settings (1).png" alt="" class="img1">

                  </form>
                </div>
            </nav>
     
  