* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	background-color: #E5E5E5;
}

.bg {
	background: #16172D;
}
.dashboard-main {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #58BF8E;
}

.card {
	background: #FFFFFF;
	border: 0.7px solid #F4F4F4;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.logo-style {
	width: 113px;
	height: 29px;
}

.img-container-1 {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #D14E4E;
	border-radius: 100px;
}

.img-container-2 {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #4ED1BA;
	border-radius: 100px;
}

.img-container-3 {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #4E93D1;
	border-radius: 100px;
}

.img-container-4 {
	position: relative;
	width: 50px;
	height: 50px;
	background-color: #E4D585;
	border-radius: 100px;
}

.img-main {
	position: absolute;
	width: 25.76px;
	height: 26.26px;
	transform: translate(-50%, 50%);
}
.header {
	font-family: "Montserrat";
	left: 138.15px;
	top: 273.88px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #676666;
}
.body-text {
	display: flex;
	justify-content: center;
	width: 163.29px;
	height: 27.03px;
	top: 303.61px;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: normal;
	font-size: 12.6706px;
	line-height: 15px;
	color: #484848;
}

.button {
	width: 114.75px;
	height: 43.22px;
	background: #58BF8E;
	border-radius: 4px;
	color: #FFFFFF;
}

.card-style {
	display: flex;
	justify-content: center;
	align-items: center;
}
