<!doctype html>
<html lang="en">
  <head>
    <title>MicroApi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/authset.css">
</head>
  <body>
    <div class="second1">
      <div class="first">
          <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="/" style="color: white !important;">
                <img src="assets/logo.png">
              </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="/index" class="five" style=" color:white; margin-bottom:6px; font-size: 20px !important;">Dashboard</a>
                    </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/authapi" class="five" style=" color:green; margin-bottom:6px; font-size: 20px !important;">Authentication APi</a>
                    </li>

                </ul>

              </div>
            </nav>
      </div>
  </div>
    <div class="second">
        <div class="first">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/billings" style="color: white !important;">Billing</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="/usage" class="five"style="color:white; font-size: 18px   !important; " >Usage </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/authset" class="five" style=" color:white; font-size: 18px !important;">Settings</a>
                      </li>

                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input type="text"  placeholder="Name" id="one" style="margin-right: 100px;">
                    <img src="assets/help-circle.png" alt="" class="img1">
                    <img src="assets/settings (1).png" alt="" class="img1">
                  </form>
                </div>
              </nav>
        </div>
    </div>

            <section class="general">
                <div class="heading">
                    <h4>General Settings</h4>
                    <h6>Properties</h6>

                </div>
                <div>
                    <form class="form">
                        <label for="name">PROJECT NAME</label>
                        <input class="form-control" type="text" id="name" />

                        <label for="name">ACCOUNT SID</label>
                        <input class="form-control" type="text" id="name" placeholder="Ad3wD85hhsn3Ehajdjk3jriAQ234retya24ary" />

                    </form>

                        <div class="req">
                            <h6 class="req1">Require Two-Factor Authentication (2FA)</h6>
                            <h6 class="req2">Add an extra of protection to Authentication API accoounts
                            <br>
                            Once you enable 2FA, all users accessing this account must enter verification codes sent to the channel they prefer.</h6>
                        </div>


                    <!-- Group of default radios -  -->
                        <div class="radios">

                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
                      <label class="custom-control-label" for="defaultGroupExample1">
                                            DISABLED<span>Do not require a verification code</span> </label>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
                      <label class="custom-control-label" for="defaultGroupExample2">
                                            ONCE PER COMPUTER<span>Trust computers and only ask for verification code every 30 days</span> </label>
                    </div>

                    <!-- Group of default radios - option 3 -->
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                      <label class="custom-control-label" for="defaultGroupExample3">
                                            EVERY LOG-IN <span>We’ll always ask for a verification code</span> </label>
                    </div>


                </div>


                <div>

                </div>

            </section>

          </div>

    <div class="container mt-4">
        <div class="row">
            <div class="column">
                <div><h3 class="rectangle">LIVE Credentials</h3></div>
              <div class="card">
                  <div class="card_text">
                      <p class="capz"><b>ACCOUNT SID </b><br>
                        Ad3wD85hhsn3Ehajdjk3jriAQ234retya24ary <br> Used to exercise the REST API
                    </p>
                    </div>
<br>
                    <div class="capz">
                        <p><b> AUTH TOKEN</b><br>
                        <span class="fa fa-eye ey"> &nbsp 0000000000000</span>
                        <br>  Request a Secondary Token</p>
                        <p class="tok">Keep this some where safe and secure</p>
                    </div>

            </div>
            </div>

            <div class="column">
                <div><h3 class="rectangle">TEST Credentials</h3></div>
              <div class="card">
                <div class="card_text">
                    <p class="capz"><b> TEST ACCOUNT SID </b><br>
                        Ad3wD85hhsn3Ehajdjk3jriAQ234retya24ary <br> Used to exercise the REST API
                  </p>
                  </div>
<br>
                  <div class="capz">
                      <p><b> AUTH TOKEN</b><br>
                      <span class="fa fa-eye ey"> &nbsp 0000000000000</span>
                      <br> <p class="space"></p> </p>
                      <p class="tok">Keep this some where safe and secure</p>
                  </div>
              </div>
            </div>
          </div>
    </div>
    </div>
  <section class="ssl-certificate-container">
    <div class="title-and-check-container">
      <div class="title-container">
        <h2>SSL Certificate validation</h2>
        <p>Determines if Certificate validation is performed on all Authentication API originated request</p>
      </div>
      <div class="checks">
        <div class="enablement">
        <h3><input type="radio" class="radio-btn" name="enable">  Enabled</h3>
        <p>Enforces Certificate validation on webhooks from Authentication API to your servers</p>
        </div>
        <div class="enablement">
          <h3><input type="radio" class="radio-btn" name="enable"> Disabled</h3>
          <p>Does not Enforce Certificate validation on webhooks from Authentication API to your servers</p>
        </div>
      </div>
    </div>
    <div class="api-keys-container div-style">
      <h2 class="div-style-title api-key mt-5 py-5">API Keys</h2>
      <p class="div-style-text">API Keys are revokable credentials for the Authentication API. You can use API keys to authenticate the REST API using basic auth, with user=keySid and password=keySecret, and you can use API keys to sign Access Tokens, which are used by Authentication Real Time communication SDKs. Access Tokens are short lived credentials that can be distributed safely to client-side applications.</p>
      <div class="confirm-ownership">
        <h4>You have no API Keys</h4>
        <button class="btn tablet-pos">Create new API Keys</button>
      </div>
    </div>
    <div class="credentials-container div-style">
      <h2 class="div-style-title">Credentials</h2>
      <p class="div-style-text">Authentication API supports two types of customer submitted credentials. Public keys can be used to encrypt data and to validate client requests. Push Credentials are vendor specific credential record for a particular push notification channel.</p>
      <div class="confirm-ownership">
        <h4>You have no Push Credentials</h4>
        <button class="btn">Create new Credential</button>
      </div>
    </div>
    <div class="applications-container div-style">
      <h2 class="div-style-title">Applications</h2>
      <p class="div-style-text">Authentication API lets your users authorize their Authentication acounts so your application can buy phone numbers,make phone cals,send SMS and access log data and because your customers are using their own Authentication account you don't have to worry about charging for usage. </p>
        <div class="confirm-ownership info-container">
          <h4>You have no Applications</h4>
          <div class="info">
            <i class="fa fa-info-circle"></i> <p> Apps can only be created by upgraded accounts. <a href="#">Upgrade Now</a></p>
          </div>
        </div>
    </div>

    <div class="upgrade-account-form-container div-style">
      <h2 class="div-style-title mobile-pos">Upgrade Account</h2>
      <form action="" class="upgrade-form">
        <input class="upgrade-input-field" type="text" placeholder="Verify Phone Number">
        <input class="upgrade-input-field"  type="text" placeholder="Add Company Address">
        <input class="upgrade-input-field"  type="text" placeholder="Add Billing Address">
        <input class="upgrade-input-field"  type="text" placeholder="Add Payment information add Funds">
        <button class="btn upgrade-btn">Upgrade Account</button>
      </form>
    </div>

    <!-- <div class="pricing-container">
      <button class="features-pricing-btn btn">Features & Pricing</button>
      <button class="get-started-btn btn">Get Started</button>
    </div>
    <div class="description-text-container">
      <p class="description-text">
        Authentication API allows you to implement a two-factor Authentication (2FA), password-less login and phone verification into your applications.
      </p>
      <p class="description-text">
        it supports voice calls,SMS,software and hardware tokens as well as modern push notification Authentication.
      </p>
    </div> -->
      <div class="background-image">
        <svg width="440" height="449" viewBox="0 0 440 449" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g opacity="0.1">
            <path
              d="M300.34 586.874C137.072 586.874 4.8407 456.513 4.8407 295.857C4.8407 135.201 137.072 4.8404 300.34 4.8404C463.609 4.8404 595.84 135.201 595.84 295.857C595.84 456.513 463.609 586.874 300.34 586.874Z"
              stroke="#D14E4E" stroke-width="9.6808" />
            <path
              d="M249.491 317.917L250.03 315.103L247.874 313.215L232.988 300.181C232.123 299.423 231.435 298.497 230.966 297.468C230.497 296.439 230.256 295.328 230.256 294.205V274V269H225.256H203.214C198.6 269 194.988 265.335 194.988 260.972V239.259V234.259H189.988H167.946C163.332 234.259 159.721 230.594 159.721 226.231V165.435C159.721 161.071 163.332 157.407 167.946 157.407L210.961 157.407C213.166 157.407 215.267 158.271 216.804 159.784C216.804 159.784 216.804 159.785 216.804 159.785L305.965 247.614L308.129 249.746L311.019 248.808C320.09 245.861 329.787 244.259 339.874 244.259C390.747 244.259 431.858 284.864 431.859 334.795C431.859 384.883 390.905 425.333 339.873 425.333C289.001 425.333 247.889 384.728 247.889 334.796C247.889 329.027 248.443 323.387 249.491 317.917ZM366.324 329.796C349.026 329.796 334.874 343.629 334.874 360.852C334.874 378.074 349.026 391.907 366.324 391.907C383.623 391.907 397.775 378.074 397.775 360.852C397.775 343.629 383.623 329.796 366.324 329.796Z"
              stroke="#D14E4E" stroke-width="10" />
          </g>
        </svg>
      </div>
  </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
