<!doctype html>
<html lang="en">
  <head>
    <title>MicroApi</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bilings.css">
</head>
  <body>
    <div class="second1">
      <div class="first">
          <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="/" style="color: white !important;">
                <img src="assets/logo.png">
              </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="/" class="five" style=" color:white; margin-bottom:6px; font-size: 20px !important;">Dashboard</a>
                    </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/authapi" class="five" style=" color:green; margin-bottom:6px; font-size: 20px !important;">Authentication APi</a>
                    </li>

                </ul>

              </div>
            </nav>
      </div>
  </div>

    <div class="second">
        <div class="first">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="#" style="color: white !important;">Billing</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                      <a class="nav-link" href="/usage" class="five"style="color:white; font-size: 18px   !important; " >Usage </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/authset" class="five" style=" color:white; font-size: 18px !important;">Settings</a>
                      </li>

                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input type="text"  placeholder="Name" id="one" style="margin-right: 100px;">
                    <img src="./help-circle.png" alt="" class="img1">
                    <img src="./settings (1).png" alt="" class="img1">

                  </form>
                </div>
              </nav>
        </div>
    </div>
    <div class="boarder">
<div id="body-bill mt-5">
    <p>Billing Overview</p>
    <div class="bord" id="card">
        <p>**** &nbsp;&nbsp;&nbsp; **** &nbsp;&nbsp;&nbsp;
           **** &nbsp;&nbsp;&nbsp; 3820
           <span class="righ"><button class="but" id="remv">Remove Card</button></span>
        </p>
    </div>
    <p>Current Plan</p>
    <div class="bord" id="prod">
        <p>Production <br>
            Business-focused apps, such as customer facing or internal
            web apps APIs <br>
            - Includes all Hobby features <br>
            - Simple horizontal scalability <br>
            - App metrics and threshold alerts <br>
            - Preboot and zero-downtime deploys <br>
            - Unlimited background workers
            <span class="righ"><button class="but" id="upgrade">Upgrade</button></span>
        </p>
    </div>
    <p>Invoices</p>
    <div class="bord" id="month">
        <p>Monthly Subscription | 25th-01-2019
            <span class="righ">January's Payment</span>
        </p>

    </div>

    <div id="img1d"><img id="img1" src="Ellipse 20.png" alt="img"></div>
    <div id="img1d"><img id="img1" src="Vector (3).png" alt="img" ></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
