<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./template/head') %>
</head>

<body>
  <!-- @Abdussami and @stvyn navbar start -->
  <header>
    <%- include('./template/header') %>
  </header>
  <!-- @Abdussami and @stvyn navbar end -->

  <!-- @AugustaEhihebolo and @DevOlajide hero section start -->
  <section>
    <div class="container">

      <div class="hero">
        <div class="intro-sect">
          <p class="hero-title">Strength in<br>Collaboration</p>
          <p class="hero-summmary">Working cooperatively with others<br>to work towards common goals</p>
          <a href="/about" class="hero-btn btn-outline">How It Works</a>
          <a href="/register" class="hero-btn">Get Started</a>
        </div>
        <div class="img-sect">
          <img class="hero-img"
            src="https://res.cloudinary.com/oluwatobiloba/image/upload/v1591795521/incredible%20project/hero-image_ixmtkr.png"
            alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- @AugustaEhihebolo and @DevOlajide hero section end -->

  <!-- @Innovarto  and @Kelvinakpobome - about us section start -->
  <section class="about-us">
    <div class="container">
      <div class="about-us__wrapper">
        <div class="img-sect">
          <img
            src="https://res.cloudinary.com/oluwatobiloba/image/upload/v1591795528/incredible%20project/people_rnvc23.png"
            alt="">
        </div>
        <div class="story-sect">
          <div class="about-us_title">
            <p>About Us</p>
            <div class="short-bar"></div>
          </div>
          <p class="desc">About MicroAPI</p>
          <p class="content">
            We provide Microservices for Sign Up, Login, file management, email/SMS notifications and other useful
            functionalities. By leveraging the endpoints of our documented and easy-to-use Microservice APIs, you can
            speed up your development process and deliver quick and efficient products.
          </p>
          <a href="/about" class="btn btn-main">Read more</a>
        </div>
      </div>
    </div>
  </section>
  <!-- @Innovarto  and @Kelvinakpobome - about us section end -->

  <!-- @tomii and @charles onuorah - footer section start -->
  <div class="amplified">
    <p>Get Amplified Now</p>
    <div class="action">
        <%if(isAuthenticated) { %>
                <a href="/dashboard" class="btn btn-main">Get Started</a>
        <% } else { %>
            <a href="/register" class="btn btn-main"> Register </a>
            <a href="/login" class="btn btn-main btn-main--outline">Log In</a>
        <% } %>
    </div>
    
  </div>
  <%- include('./template/footer') %>
  <!-- @tomii and @charles onuorah - footer section end -->
  
 
</body>

</html>