<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> <title>MicroApi</title>
	<link href="css/style.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">

	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">

	</script>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
  <body>
    <div class="second1">
      <div class="first">
          <nav class="navbar navbar-expand-lg navbar-light ">
              <a class="navbar-brand" href="/" style="color: white !important;">
                <img src="assets/logo.png">
              </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="/settings" class="five" style=" color:white; margin-bottom:6px; font-size: 20px !important;">Dashboard</a>
                    </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/authapi" class="five" style=" color:green; margin-bottom:6px; font-size: 20px !important;">Authentication APi</a>
                    </li>

                </ul>

              </div>
            </nav>
      </div>
  </div>


        <div class="second">
            <div class="first">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="#" style="color: white !important;">Services</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/settings" class="five" style=" color:white; font-size: 18px !important;">Settings</a>
                          </li>

                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                        <input type="text"  placeholder="Name" id="one" style="margin-right: 100px;"  >
                        <img src="assets/help-circle.png" alt="" class="img1">
                        <img src="assets/settings (1).png" alt="" class="img1">

                      </form>
                    </div>
                  </nav>
            </div>
        </div>


    </section>
    <section class="register-container">
        <h4> Your APIs </h4>
		<div class="row">
			<div class="col-sm info-box">
				<span>
          <img class="img-icon" src="assets/auth.png">
          <h5>Authentication API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
           <a href= ""> <img class="user-settings" src="assets/settings.png">
           </a>
        </span>
      </div>
      <div class="col-sm info-box" >
         <span>
          <img class="img-icon" src="assets/email.png">
          <h5>Email API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
           <a href= ""> <img class="user-settings" src="assets/settings.png">
           </a>
        </span>
      </div>
      <div class="col-sm info-box" >
         <span>
          <img class="img-icon" src="assets/excel.png">
          <h5>Excel API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
           <a href= ""> <img class="user-settings" src="assets/settings.png">
           </a>
        </span>
      </div>
      <div class="col-sm info-box" >
         <span>
          <img class="img-icon" src="assets/sms.png">
          <h5>Sms API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
            <a href= ""> <img class="user-settings" src="assets/settings.png">
            </a>
        </span>
      </div>
    </div>

    <div class="available-apis">
        <h4> Available Micro API’s </h4>
		<div class="row">
			<div class="col-sm info-box2">
				<span>
          <img class="logo-icon" src="assets/cloudinary.png">
          <h5>Cloudinary API</h5>
          <p>Description about the API.</p>
           <a href= ""> <button type="button" class="btn-add">Add</button>
           </a>
        </span>
      </div>
      <div class="col-sm info-box2" >
         <span>
          <img class="logo-icon" src="assets/twillo.png">
          <h5>SendGrid API</h5>
          <p>Description about the API.</p>
           <a href= ""> <button type="button" class="btn-add">Add</button>
           </a>
        </span>
      </div>
      <div class="col-sm info-box2" >
         <span>
          <img class="logo-icon" src="assets/flutter-wave.png">
          <h5>Flutterwave API</h5>
          <p>Description about the API.</p>
           <a href= ""> <button type="button" class="btn-add">Add</button>
           </a>
        </span>
      </div>
      <div class="col-sm info-box2" >
         <span>
          <img class="logo-icon" src="assets/paystack.png">
          <h5>Paystack API</h5>
          <p>Description about the API.</p>
            <a href= ""> <button type="button" class="btn-add">Add</button>
            </a>
        </span>
      </div>
    </div>

    </div>


    </section>
    <script src="script.js"></script>
  </body>
</html>
