<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <meta charset="utf-8">


        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">

        <title>MicroAPI</title>
    </head>
    <body>
        <div class="container">
            <!-- INTRO AREA -->
            <div class="intro">
                <div class="logo" id="intro_logo">
                    <a href="/">
                   <img src="./images/logo.png" alt="logo"> <span>MicroAPI</span>
                    </a>
                </div>
                <h1>Join us today</h1>
                <p>Become part of a community of smart developers</p>
            </div>

            <!-- SIGNUP AREA -->
            <div class="signup">
                <div class="signup_logo" id="signup_logo">
                    <a href="/register">
                    <span><img src="./images/logo.png" alt="logo"> MicroAPI</span>
                    </a>
                </div>
                <div class="heading">
                    <h2>Create Account</h2>
                    <div class="heading_social">
                        <a href="#"><img src="images/Facebook.png" alt="image"></a>
                        <a href="#"><img src="images/GitHub.png" alt="image"></a>
                        <a href="#"><img src="images/Google Plus.png" alt="image"></a>
                    </div>
                    <p>or register with your email</p>
                </div>
                <div class="signup-area">
                    <div class="input_field">
                        <img src="img/user.png" alt="">
                        <input type="text" name="name" placeholder="Name">
                    </div>
                    <div class="input_field">
                        <img src="img/email.png" alt="">
                        <input type="email" name="email" placeholder="Email" id="email" required>
                    </div>
                    <div class="input_field">
                        <img src="img/pass.png" alt="">
                        <input type="password" name="password" placeholder="Password" id="password" required>
                    </div>
                    <div class="signup-area_btn">
                        <button class="btn" onclick="signup()">Sign up</button>
                    </div>
                    <div class="signup-area_extra">
                        <p>Already have an account? <a href="/Login">Log in</a></p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
