/* Import Variables */
@import url(partials/_variable.css);

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.logo span {
  font-size: 20px;
  font-family: "Offside", cursive;
  color: #fff;
}
/* INTRO AREA */
.intro {
  color: #fff;
  width: 35%;
  background: var(--primary-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  align-content: center;
  align-items: center;
  text-align: center;
  padding: 0 30px;
}
#intro_logo {
  position: absolute;
  top: 3%;
  left: 2%;
}
.intro h1 {
  font-family: "Offside", cursive;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 40px;
  font-size: 42px;
}
.intro p {
  font-style: normal;
  font-size: 25px;
}

/* SIGNUP AREA */
.signup {
  width: 65%;
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
}
#signup_logo span {
  display: none;
  color: var(--primary-color);
}
.heading {
  margin-bottom: 20px;
}
.heading h2 {
  font-family: "Offside", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 81px;
  color: var(--primary-color);
}
.heading_social img {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}
.heading p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 42px;
  color: var(--primary-color);
}
.signup-area {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  justify-items: center;
  align-content: center;
}
.input_field {
  background: rgba(231, 231, 231, 0.4);
  border-radius: 15px;
  width: 400px;
  text-align: left;
  padding: 6px 8px;
}
.input_field img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  vertical-align: middle;
}
.input_field input {
  width: 90%;
  padding: 10px 0;
  font-size: 20px;
  background-color: transparent;
  border: none;
  vertical-align: middle;
}
.input_field input::placeholder {
  color: var(--primary-color2);
}
.btn {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 18px 50px;
  cursor: pointer;
}
.signup-area_extra p {
  font-size: 20px;
  font-weight: normal;
}
.signup-area_extra a {
  color: var(--primary-color);
  text-decoration: underline;
}
.btn:hover {
  color: white;
  background-color: green;
}
