@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/**Root Styles**/
:root{
    --primary: #31AA52;
    --secondary:#16172D;
    --tertiary:#E21313;
    --white: #FFFFf9;
    --numbers:#5F5F5F
}
/**Resets**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif!important;

}
.padding {
    padding: 0 2rem;
}
/**Base styles**/
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: var(--secondary);
    font-weight: 700;
}
li a.bordered{
    border-bottom: 5px solid var(--primary);
}
.leading{
    font-size:1.3rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.numbers{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: var(--numbers);
    padding-top: 1.8rem;
}
h1.facebook{
    margin-top: 1.5rem;
}
span.inarow{
    color: var(--primary);
    padding:.5rem 0;
}
sup.success{
    font-size: 22px;
    line-height: 33px;
    color: var(--primary);
}
sup.failure{
    font-size: 22px;
    line-height: 33px;
    color: var(--tertiary);
}
img.vector{
    text-align:center;
}
span.days{
    font-weight: normal;
    font-size:1em;
    line-height:1.3rem;
    color:var(--secondary);
    padding-top: 1.2rem;
}
.space {
    padding:2rem 0;
}
body{
    font-size: 1em /**16px**/;
    font-family: 'Times New Roman', Times, serif;
}
/* img.caret{
    background-color: var(--secondary);
} */
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;
}
.site-nav{
    background-color: var(--secondary);
    padding:1em .75em ;
}
.site-nav img{
    grid-column: 1/4;
}
.nav-items li{
    /**The page is not very long,so its easy to scroll through**/
    display: none;
}
.links li{
     display: inline-block!important;
     padding-top:1.1rem;
     padding-left: 1rem;
}
.api-links li a{
    color:var(--primary);
    font-weight: 500;
}
.api-links li.pull-right{
    padding-top: 0;
}
.input-group{
    background: var(--secondary)!important;
    color: var(--primary)!important;
    width: 12rem!important;
    border-radius: 5px!important;
    padding: .5rem .85rem!important;
}
img.search{
    font-size: .95rem;
    position: relative;
    right: 40;
    top: 5px;
}
img.settings,
img.help{
    width: 1.75rem;
    height: 1.75rem;
    padding-left: 0;
}
.applications{
    padding-left: 2rem;
}
.applications span{
    color:var(--primary);
    text-decoration: none;
}
.api-grid{
    background:var(--white)!important;
    border: 1px solid var(--white)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;
    border-radius: 6px!important;
    grid-column: span 12!important;
    margin: 0 auto!important;
    text-align:center!important;
    display: flex!important;
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    padding: 2rem 1.8rem!important;
    margin-top: 2rem!important;
}
/**Media Queries**/
@media only screen and (min-width:620px){
    
}

.long {
    padding: 1.3rem 3rem!important;
   
}
.left {
    text-align: left;
    color: #31AA52;
    padding-top:1rem!important;
    padding-left: 5px;
}
.left-2 {
    text-align: left;
}
.grids{
  display: grid;
  align-items: center;
  grid-template-columns:1fr 2fr;

}
.left-3 {
    text-align: right;
    padding-top:1rem!important;
    padding-right: 5px;
    
}
@media (max-width:768px){
    .grids{
        display: block;
        
      }
      .d-flex {
        flex-direction: column;
      }
      .space {
        padding:0!important;
    }
    th,tr,td {
        font-size: 8px;
    }
    .lnk li{
       display: block!important;
       background-color: #31AA52;
       text-align: center;
       padding: 1.5rem;
       margin-bottom: 1rem!important;
    }
    .lnk li a{
       background-color: none!important;
     }
}