<!doctype html>
<html lang="en">

<%- include('../template/head') %>

<body>
    <header>
        <%- include('../template/header') %>
    </header>


    <!-- @fosajeff -->

    <div class="login-container forget-password_container">

        <div class="amplified">
            <img style="width:100%" src="../images/emotiguy.png">
            <p>404 | Page Not Found</p>
            <div class="action">
                <a href="/" class="btn btn-main"> Back Home </a>
            </div>

        </div>
    </div>

</body>

<footer style="margin-top: 10%;">
    <%- include('../template/footer') %>
</footer>

</html>