<!DOCTYPE html>
<html lang="en">

<!-- THIS IS THE EJS TEMPLATE FOR THE HEAD -->
<%- include("../partials/head") -%>
<!-- ############################################## -->

<body>
    <!-- THIS IS THE EJS TEMPLATE FOR THE HEADER -->
    <%- include("../partials/header") -%>
    <!-- ################################################ -->

    <div class="container">
        <!-- THIS IS THE API SECTION -->

        <div class="container-fluid padding">
            <div class="row welcome text-left">
                <div class="col-12">
                    <h1 class="display-4">Active API</h1>
                </div>
            </div>
            <!-- cards -->
            <div class="row padding">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image1"
                            src="assets/img/new_cloudinary_logo_square 1.svg" alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Cloudinary API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image2"
                            src="assets/img/SG_Twilio_Lockup_Social-56f3cfd2f6b0c62422980170d57fac64 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">SendGrid API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image3" src="assets/img/flutter_wave 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Flutterwave API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image4" src="assets/img/image 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Paystack API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 2 -->
            <div class="row padding">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image1"
                            src="assets/img/new_cloudinary_logo_square 1.svg" alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Cloudinary API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image2"
                            src="assets/img/SG_Twilio_Lockup_Social-56f3cfd2f6b0c62422980170d57fac64 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">SendGrid API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image3" src="assets/img/flutter_wave 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Flutterwave API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image4" src="assets/img/image 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Paystack API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- card 3 -->
            <div class="row padding">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image1"
                            src="assets/img/new_cloudinary_logo_square 1.svg" alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Cloudinary API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image2"
                            src="assets/img/SG_Twilio_Lockup_Social-56f3cfd2f6b0c62422980170d57fac64 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">SendGrid API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image3" src="assets/img/flutter_wave 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Flutterwave API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top mx-auto d-block image4" src="assets/img/image 1.svg"
                            alt="api-brand-logo">
                        <div class="card-body">
                            <h4 class="card-title">Paystack API</h4>
                            <p class="card-text">Description about the API.</p>
                            <a href="#" class="btn btn-success">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container form footer text-center">
        <p class="cont"><a href="#" class="deco">Contact Us</a></p>
        <p class="rights">All rights Reserved @MicroApi</p>
    </div>




    <!-- THIS IS THE EJS TEMPLATE FOR THE FOOTER -->
    <footer>
        <%- include("../partials/footer") -%>
    </footer>
    <!-- ######################################################## -->






    <!-- Optional JavaScript -->
    <!-- jQuery cdn -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <!-- icons -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>