<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MicroApi</title>
    <!-- icon -->
    <link rel="shortcut icon" href="img/layers.png" type="image/x-icon"/>
 
    <!-- google font  -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"/>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
   
    
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!-- css link -->
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  
  <body>
    <header>
        <!-- include header.ejs -->
        <%- include('../partials/header')-%>
    </header>

    <article>
  
      <!-- first section -->
      <section class="first__section w-100 h-100">
        <div class="inner__first-section">
          <div class="row">
            <div class="first__section-content col-lg-6 mb-5 float-left">
              <h1 class="leading__text mb-4">
                Open Source APIs for individuals and Enterprises.
              </h1>
              <p class="supportn__text">
                We make it easy for you or your co-operation to build and
                organize your database seemlessly at speeds you could only dream
                about
              </p>
              <div class="content__button d-flex">
                <button class="btn btn-content mr-4" type="button">
                  Get Started
                </button>
                <a class="content__link" type="button"
                  >Explore APIs <img src="img/Vector 1.png" alt=""
                /></a>
              </div>
            </div>

            <div class="first__section-img col-lg-6 float-right">
              <img
                src="img/header illustratn 1.png"
                alt="header illustration"
              />
            </div>
          </div>
        </div>
      </section>

      <main>
        <section class="second__section w-100 h-100">
          <h1 class="text-center vert-text">
            You just found the best Open sourced Microservice
          </h1>
          <p class="supportn__text text-center mt-3">
            MicroAPi is a library of microservice APIs, built and organized for
            your software team to get that project running
          </p>
        </section>

        <section class="third__section w-100 h-100 mt-4">
          <div class="inner__third-section">
            <h1 class="text-center vert-text mb-5"><b>Why MicroApi?</b></h1>

            <section class="third__section-content w-100 h-100">
              <div class="row">
                <div class="third__section-img col-lg-7">
                  <img
                    src="img/Dashboard 1.png"
                    alt="header illustration"
                  />
                </div>

                <div class="third-content col-lg-5 mb-5">
                  <div>
                    <h3 class="text__md mb-4"><b>Access</b></h3>
                    <p class="text__sm">
                      Enjoy free & unlimited access to our library. Create
                      personalized list of your favorite resource.
                    </p>
                  </div>

                  <div class="mt-5">
                    <h3 class="text__md mb-4"><b>Fast Implementation</b></h3>
                    <p class="text__sm">
                      Build amazing apps faster. Our API saves you months of
                      integration testing and support headache for you and your
                      customers.
                    </p>
                  </div>

                  <div class="mt-5">
                    <h3 class="text__md mb-4"><b>Easy to use</b></h3>
                    <p class="text__sm">
                      Build amazing apps faster. Our API saves you months of
                      integration testing and support headache for you and your
                      customers.
                    </p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>

        <section class="fourth__section w-100 h-100">
          <div class="inner__third-section">
            <div class="d-flex top__content">
              <h3 class="text__md"><b>Available APIs</b></h3>
              <button class="btn btn-content mr-4" type="button">
                Explore APIs
              </button>
            </div>

            <section class="fourth__section-content w-100 h-100">
              <div class="row">
                <div class="first__row mt-5">
                  <div class="row mb-5 first__set">
                    <div class="col-sm mb-3">
                      <div class="card text-center">
                        <img src="img/Group 517.png" alt="" />
                        <div class="card-body">
                          <h3 class="card-title text__md mb-4">
                            <b>Authentication APi</b>
                          </h3>
                          <p class="card-text">
                            Verify Users by reaching thier mobile devices via
                            SMS
                          </p>

                          <a href="#">learn more</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm mb-3">
                      <div class="card text-center">
                        <img src="img/Group 517 (1).png" alt="" />
                        <div class="card-body">
                          <h3 class="card-title text__md mb-4">
                            <b>Email API</b>
                          </h3>
                          <p class="card-text">
                            Verify Users by reaching thier mobile devices via
                            SMS
                          </p>

                          <a href="#">learn more</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm mb-3">
                      <div class="card text-center">
                        <img src="img/Group 517 (2).png" alt="" />
                        <div class="card-body">
                          <h3 class="card-title text__md mb-4">
                            <b>SMS API</b>
                          </h3>
                          <p class="card-text">
                            Verify Users by reaching thier mobile devices via
                            SMS
                          </p>

                          <a href="#">learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm mb-3">
                      <div class="card text-center">
                        <img src="img/Group 517 (3).png" alt="" />
                        <div class="card-body">
                          <h3 class="card-title text__md mb-4">
                            <b>Email API</b>
                          </h3>
                          <p class="card-text">
                            Verify Users by reaching thier mobile devices via
                            SMS
                          </p>

                          <a href="#">learn more</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm mb-3">
                      <div class="card text-center">
                        <img src="img/Group 517 (4).png" alt="" />
                        <div class="card-body">
                          <h3 class="card-title text__md mb-4">
                            <b>SMS API</b>
                          </h3>
                          <p class="card-text">
                            Verify Users by reaching thier mobile devices via
                            SMS
                          </p>

                          <a href="#">learn more</a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm mb-3">
                      <div class="card text-center">
                        <img src="img/Group 517 (5).png" alt="" />
                        <div class="card-body">
                          <h3 class="card-title text__md mb-4">
                            <b>Authentication APi</b>
                          </h3>
                          <p class="card-text">
                            Verify Users by reaching thier mobile devices via
                            SMS
                          </p>

                          <a href="#">learn more</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </section>

        <section class="fifth__section w-100 h-100">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-5 fifth__section-img">
                <img src="img/banner-image.png" alt="" />
              </div>

              <div class="col-lg-6">
                <div class="fifth__section-content col-lg-6 mb-5">
                  <h1 class="text__lg mb-4"><b>Want to jump right in?</b></h1>
                  <p class="text__sm">
                    Our documentation is simple and straight forward written in
                    such a way that you're up to speed and running
                  </p>

                  <button class="btn btn-content mt-3" type="button"><a href="/documentation">Documentation</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

       <!-- Footer -->
   <footer>
    <!-- include footer.ejs -->
    <%- include('../partials/footer')-%>
  </footer>
    </article>

    <script src="js/home.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- JS, Popper.js, and jQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>
