<!DOCTYPE html>
<html>
  <head>
    <!-- include header.ejs -->
    <%- include('../partials/head')-%>
	
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">

	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">

	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js">

	</script>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
 <body>
    <div class="second1">
      <div class="first">
             <!-- include nav.ejs -->
            <%- include('../partials/nav')-%>
      </div>
  </div>
        <div class="second">
            <div class="first">
               <!-- include nav.ejs -->
               <%- include('../partials/nav_three')-%>
            </div>
        </div>

    </section>
    <section class="register-container">
        <h4> Your APIs </h4>
		<div class="row">
			<div class="col-sm info-box">
				<span>
          <img class="img-icon" src="assets/auth.png">
          <h5>Authentication API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
           <a href= ""> <img class="user-settings" src="assets/settings.png">
           </a>
        </span>
      </div>
      <div class="col-sm info-box" >
         <span>
          <img class="img-icon" src="assets/email.png">
          <h5>Email API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
           <a href= ""> <img class="user-settings" src="assets/settings.png">
           </a>
        </span>
      </div>
      <div class="col-sm info-box" >
         <span>
          <img class="img-icon" src="assets/excel.png">
          <h5>Excel API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
           <a href= ""> <img class="user-settings" src="assets/settings.png">
           </a>
        </span>
      </div>
      <div class="col-sm info-box" >
         <span>
          <img class="img-icon" src="assets/sms.png">
          <h5>Sms API</h5>
          <p>Configure API Keys, Secerts and<br>
           other details</p>
            <a href= ""> <img class="user-settings" src="assets/settings.png">
            </a>
        </span>
      </div>
    </div>

    <div class="available-apis">
        <h4> Available Micro API’s </h4>
		<div class="row">
			<div class="col-sm info-box2">
				<span>
          <img class="logo-icon" src="assets/cloudinary.png">
          <h5>Cloudinary API</h5>
          <p>Description about the API.</p>
           <a href= ""> <button type="button" class="btn-add">Add</button>
           </a>
        </span>
      </div>
      <div class="col-sm info-box2" >
         <span>
          <img class="logo-icon" src="assets/twillo.png">
          <h5>SendGrid API</h5>
          <p>Description about the API.</p>
           <a href= ""> <button type="button" class="btn-add">Add</button>
           </a>
        </span>
      </div>
      <div class="col-sm info-box2" >
         <span>
          <img class="logo-icon" src="assets/flutter-wave.png">
          <h5>Flutterwave API</h5>
          <p>Description about the API.</p>
           <a href= ""> <button type="button" class="btn-add">Add</button>
           </a>
        </span>
      </div>
      <div class="col-sm info-box2" >
         <span>
          <img class="logo-icon" src="assets/paystack.png">
          <h5>Paystack API</h5>
          <p>Description about the API.</p>
            <a href= ""> <button type="button" class="btn-add">Add</button>
            </a>
        </span>
      </div>
    </div>

    </div>


    </section>
    <script src="script.js"></script>
  </body>
</html>
