<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    <link rel="shortcut icon" href="/img/layers.png" type="image/x-icon"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
   <!-- css link -->
   <!-- <link rel="stylesheet" href="css/responsive.css" /> -->
  <link rel="stylesheet" href="css/pricing.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/footer.css">
</head>

<body>
  
  <header>
   <!-- include header.ejs -->
   <%- include('../partials/header')-%>
</header>

    <!-- first section -->
    <section id="hero" class="p-5 mt-5">
      <div class="container-fluid">
        <div class="row mt-5">
          <div class="col-md-6">
            <h1 class="mb-4">Pricing that scales to fit your needs</h1>
            <p>
              Plus, get $200 in free usage for authentication, email, and sms APIs every month 
            </p>
              <button class="btn btn-content mr-4" type="button">Get Started</button>
          </div>
          
          <div class="col-md-6">
            <img src="/img/undraw_online_payments_luau.svg" alt="header illustration">
            
          </div>
        </div>

      </div>
    </section>

    <!--Features-->
    <!--<section id="features" class="mt-5 p-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h4 class="">Unlimited options</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, animi. Vel quia sed aperiam officiis harum adipisci maxime obcaecati suscipit.</p>
          </div>
        </div>
      </div>
    </section>-->


    <!--Types-->
    <section id="types" class="p-5">
      <div class="container-fluid pt-5">
      <h2 class="text-center">Types of API</h2>
      <p class="text-center">MicroApi has three types of APIs: free, freemium and paid.</p>

      <div class="row mt-5 pt-5">
        <div class="col-md-4 text-center">
          <i class="fa fa-thumbs-up fa-2x"></i>
          <h4 class="my-3">Free APis</h4>
          <p>APIs that do not require a credit card or subscription plan to consume</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa fa-id-card fa-2x"></i>
          <h4 class="my-3">Freemium APis</h4>
          <p>Paid APIs that include a limited free tier and require a credit card</p>
        </div>
        <div class="col-md-4 text-center">
          <i class="fa fa-credit-card fa-2x"></i>
          <h4 class="my-3">Paid APis</h4>
          <p>APIs that require a paid subscription plan and credit card to consume</p>
        </div>
      </div>
      </div>

    </section>

    <!--Pricing and plans-->
    <section id="plans" class="p-5 my-5">
      <div class="container-fluid pb-5">
        <h2 class="mb-5 text-center">Pricing and Plans</h2>
        <div class="row">     
          <div class="col-md-4">
            <div class="text-center pricing__card pricing__card--2">
              <h3 class="pricing__name mt-4 mb-3">Basic</h3>
              <ul class="pl-0 pricing__features mt-3 mb-2 text-center">
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
              </ul>
              <div class="pricing__amount text-center">
                <span class="pricing__amount-currency">$</span>
                3500
              </div>
              <div>
                <a href="#contact" class="btn btn-content mt-3">Choose</a>
              </div>
            </div>
          </div>     
          <div class="col-md-4">
            <div class="text-center pricing__card pricing__card--2">
              <h3 class="pricing__name mt-4 mb-3">Standard</h3>
              <ul class="pl-0 pricing__features mt-3 mb-2 text-center">
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
              </ul>
              <div class="pricing__amount text-center">
                <span class="pricing__amount-currency">$</span>
                5500
              </div>
              <div>
                <a href="#contact" class="btn btn-content mt-3">Choose</a>
              </div>
            </div>
          </div>     
          <div class="col-md-4">
            <div class="text-center pricing__card pricing__card--2">
              <h3 class="pricing__name mt-4 mb-3">Premium</h3>
              <ul class="pl-0 pricing__features mt-3 mb-2 text-center">
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
                <li class="pricing__feature px-3">Lorem ipsum</li>
              </ul>
              <div class="pricing__amount text-center">
                <span class="pricing__amount-currency">$</span>
                10000
              </div>
              <div>
                <a href="#contact" class="btn btn-content mt-3">Choose</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


   <!-- Footer -->
   <footer>
    <!-- include footer.ejs -->
    <%- include('../partials/footer')-%>
</footer>

<!-- Script start -->
<!-- include script.ejs -->
<%- include('../partials/scripts')-%>
<!-- Script end -->

</body>
</html>