<!doctype html>
<html lang="en">
   <!-- include header.ejs -->
  <%- include('../partials/head')-%>
  <body>
    <!-- Include body.ejs -->
    <%- include('../partials/body') %>
    <!-- Include script.ejs -->
    <%- include('../partials/scripts') %>
  </body>
</html>
