<!doctype html>
<html lang="en">

  <%- include('../partials/head') %>

  <body>
      <!-- include nav.ejs -->
    <%- include('../partials/nav')-%>
    
     <!-- include body.ejs -->
    <%- include('../partials/body') %>
        
     <!-- include script.ejs -->    
    <%- include('../partials/script') %>

  </body>
</html>
