@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* THIS IS RESET STYLES */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/****** OTHER STYLES BEGINS HERE **************8*/
/* REMEMBER TO STYLE FOR MOBILE DEVICES FIRST */

/* @Abdussami and @stvyn navbar start */

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

/*************************************************
=================NAVBAR===========================
*************************************************/

body {
    margin: 0;
    background: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

header {
    padding: 1rem 0;
    box-shadow: 0 0 8px #d1d1d1;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
}

.logo {
    margin-bottom: 1rem;
}

.logo h2 {
    color: #31aa52;
    font-size: 1.5rem;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    display: inline-block;
    position: relative;
}

nav a.nav-link {
    color: rgb(95, 95, 95);
    text-decoration: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
}

nav a.nav-link:hover {
    color: #299144;
}

.btn {
    display: inline-block;
    padding: 0.6em 1.3em;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 200ms;
    text-decoration: none;
}

.btn-main {
    background: #31aa52;
    color: white;
}

.btn-main--outline {
    color: #31aa52;
    background: white;
    border: 1px solid #31aa52;
}

nav a.nav-link::before {
    content: "";
    display: block;
    height: 2px;
    background-color: #31aa52;
    position: absolute;
    top: 120%;
    left: 35%;
    width: 0%;
    transition: all ease-in-out 200ms;
}

nav a.nav-link:hover::before {
    width: 30%;
}

.btn-main:hover {
    background: #299144;
    color: #ffffff;
}

/***** @Abdussami and @stvyn navbar end ****/

/***** @Eleam container here*****/
.container {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    margin: 16px auto;
    width: 95%;
}

/* @AugustaEhihebolo and @DevOlajide hero section start */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    padding: 1rem 1rem;
    margin-top: 2rem;
}

.hero .intro-sect {
    order: 2;
}

.hero .img-sect {
    order: 1;
    margin-bottom: 1rem;
}

.hero-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    margin: 1rem 0;
    color: #3a3a3a;
}

.hero-summmary {
    font-size: 1.2rem;
    color: #3a3a3a;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero-btn {
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: #31aa52;
    border: 2px solid #31aa52;
    border-radius: 0.5rem;
    padding: 0.75rem 1.2rem;
    transition: all 200ms;
    text-decoration: none;
    display: inline-block;
}

.hero-btn:hover {
    background-color: #268228;
    border: 2px solid #268228;
    cursor: pointer;
}

.hero-btn.btn-outline {
    color: #31aa52;
    font-weight: 400;
    background-color: white;
    border: 2px solid #31aa52;
    border-radius: 0.5rem;
    margin-left: 0;
    margin-bottom: 1rem;
}

.hero-btn.btn-outline:hover {
    color: white;
    background-color: #31aa52;
    border: 2px solid #31aa52;
    cursor: pointer;
}

.hero-img {
    width: 100%;
    height: auto;
}

/* @AugustaEhihebolo and @DevOlajide hero section end */

/* @Innovarto  and @Kelvinakpobome - about us section start */

section.about-us {
    background-color: #f8f8f8;
    padding: 1rem;
    margin: 4rem 0;
}

.about-us__wrapper {
    display: flex;
    flex-direction: column;
    color: #3a3a3a;
}

.about-us__wrapper .img-sect {
    margin-bottom: 1.3rem;
}

.about-us__wrapper .img-sect img {
    width: 100%;
}

/* .about-us__wrapper .story-sect {
} */

.about-us__wrapper .story-sect .about-us_title {
    margin-bottom: 1rem;
}

.about-us__wrapper .story-sect .about-us_title p {
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
}

.about-us__wrapper .story-sect .about-us_title .short-bar {
    width: 50px;
    border-top: 3px solid #31aa52;
}

.about-us__wrapper .story-sect .desc {
    font-weight: bold;
    font-size: 1.4rem;
    padding-bottom: 1rem;
}

.about-us__wrapper .story-sect .content {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 1rem;
}

/* @Innovarto  and @Kelvinakpobome - about us section end */

/* @tomii and @charles onuorah - footer section start */
.amplified {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    justify-content: center;
    margin-bottom: 4rem;
}

.amplified p {
    font-size: 1.7rem;
    color: #3a3a3a;
    font-weight: bold;
    margin-bottom: 2rem;
}

.amplified .action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

footer {
    text-align: center;
    background-color: #ebebeb;
    padding: 2rem 0;
    color: #555555;
}

footer p:not(:last-child) {
    padding-bottom: 1rem;
}

/* @tomii and @charles onuorah - footer section end */

/******************** MEDIA QUERIES *******************/
/* TABLETS  */

/* Portrait and Landscape */
@media screen and (min-width: 400px) {
    .hero-btn {
        margin-left: 2rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    /* @Abdussami and @stvyn navbar start */
    @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

    /*************************************************
  =================NAVBAR===========================
  *************************************************/
    nav {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    nav ul {
        /* margin: 0; */
        padding: 0;
        list-style: none;
        margin-left: auto;
    }

    nav li {
        display: inline-block;
        margin-left: 2rem;
        position: relative;
    }

    nav a {
        color: rgb(95, 95, 95);
        text-decoration: none;
        padding: 0.75rem 1.2rem;
        font-size: 1rem;
    }

    .logo {
        margin-bottom: 0;
    }

    /* @Abdussami and @stvyn navbar end */
    /* @AugustaEhihebolo and @DevOlajide hero section start */
    .hero {
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;
    }

    .hero .intro-sect {
        order: 1;
        width: 50%;
    }

    .hero .img-sect {
        order: 2;
        width: 50%;
        margin-bottom: 0;
    }

    /* @AugustaEhihebolo and @DevOlajide hero section end */
    /* @Innovarto  and @Kelvinakpobome - about us section start */
    section.about-us {
        padding: 1rem 0;
    }

    .about-us__wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .about-us__wrapper .img-sect {
        margin-bottom: 0;
        width: 45%;
    }

    .about-us__wrapper .story-sect {
        width: 50%;
    }

    /* @Innovarto  and @Kelvinakpobome - about us section end */
    /* @tomii and @charles onuorah - footer section start */
    .amplified {
        height: 200px;
    }

    .amplified p {
        font-size: 2rem;
    }

    .amplified .action {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 280px;
    }

    /* @tomii and @charles onuorah - footer section end */
}

/* Portrait */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    /* @Abdussami and @stvyn navbar start */
    @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

    /*************************************************
  =================NAVBAR===========================
  *************************************************/
    /* @Abdussami and @stvyn navbar end */
    /* @AugustaEhihebolo and @DevOlajide hero section start */
    /* .hero {
      flex-direction: column;
    } */
    /* @AugustaEhihebolo and @DevOlajide hero section end */
    /* @Innovarto  and @Kelvinakpobome - about us section start */
    /* @Innovarto  and @Kelvinakpobome - about us section end */
    /* @tomii and @charles onuorah - footer section start */
    /* @tomii and @charles onuorah - footer section end */
}

/* Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* @Abdussami and @stvyn navbar start */
    @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

    /*************************************************
  =================NAVBAR===========================
  *************************************************/
    /* @Abdussami and @stvyn navbar end */
    /* @AugustaEhihebolo and @DevOlajide hero section start */
    /* @AugustaEhihebolo and @DevOlajide hero section end */
    /* @Innovarto  and @Kelvinakpobome - about us section start */
    .about-us__wrapper {
        align-items: center;
    }

    .about-us__wrapper .story-sect .about-us_title p {
        font-size: 1.5rem;
        padding-bottom: 0.3rem;
    }

    .about-us__wrapper .story-sect .desc {
        font-size: 1.8rem;
    }

    .about-us__wrapper .story-sect .content {
        font-size: 1.3rem;
    }

    /* @Innovarto  and @Kelvinakpobome - about us section end */
    /* @tomii and @charles onuorah - footer section start */
    /* @tomii and @charles onuorah - footer section end */
}

/* LARGE SCREENS */
@media screen and (min-width: 1025px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 1025px;
    }

    /* @Abdussami and @stvyn navbar start */
    @import url("https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap");

    /*************************************************
  =================NAVBAR===========================
  *************************************************/
    nav {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    nav ul {
        padding: 0;
        list-style: none;
        margin-left: auto;
    }

    nav li {
        display: inline-block;
        margin-left: 2rem;
        position: relative;
    }

    nav a {
        color: rgb(95, 95, 95);
        text-decoration: none;
        padding: 0.75rem 1.2rem;
        font-size: 1rem;
    }

    .logo {
        margin-bottom: 0;
    }

    /* @Abdussami and @stvyn navbar end */
    /* @AugustaEhihebolo and @DevOlajide hero section start */
    .hero {
        flex-direction: row;
        align-items: center;
        padding: 1rem 0;
    }

    .hero .intro-sect {
        order: 1;
        width: 50%;
    }

    .hero .img-sect {
        order: 2;
        width: 50%;
        margin-bottom: 0;
    }

    .hero-title {
        font-size: 3.5rem;
        line-height: 1.2;
        margin-bottom: 2rem;
    }

    .hero-summmary {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 3rem;
    }

    .hero-btn {
        font-size: 1.4rem;
    }

    .hero-btn-outline {
        font-size: 1.4rem;
    }

    /* @AugustaEhihebolo and @DevOlajide hero section end */
    /* @Innovarto  and @Kelvinakpobome - about us section start */
    section.about-us {
        padding: 1rem 0;
    }

    .about-us__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .about-us__wrapper .img-sect {
        margin-bottom: 0;
        width: 45%;
    }

    .about-us__wrapper .story-sect {
        width: 50%;
    }

    .about-us__wrapper .story-sect .about-us_title p {
        font-size: 1.5rem;
        padding-bottom: 0.3rem;
    }

    .about-us__wrapper .story-sect .desc {
        font-size: 1.8rem;
    }

    .about-us__wrapper .story-sect .content {
        font-size: 1.3rem;
    }

    /* @Innovarto  and @Kelvinakpobome - about us section end */
    /* @tomii and @charles onuorah - footer section start */
    .amplified {
        height: 250px;
    }

    .amplified p {
        font-size: 3rem;
    }

    .amplified .action {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 280px;
    }

    /* @tomii and @charles onuorah - footer section end */
}

/* @Xemicolon & @OlufemiPio */

.signup-form-container {
    width: 100%;
    display: flex;
}

.signup-container {
    width: 50%;
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
    text-align: center;
}

.signup-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.google-btn {
    height: 55px;
    padding: 0 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 14px;
    color: red;
    font-weight: 700;
    padding-left: 50px;
    cursor: pointer;
}

.google-btn a {
    text-decoration: none;
    color: red;
}

.google-btn:hover {
    border: 2px solid #bf2c2c;
    color: #bf2c2c;
    transition: 0.5s all;
}

.google-signup-btn img {
    position: absolute;
    padding: 18px 13px 0px 15px;
    width: 45px;
}

.google-signup-btn {
    width: 100%;
    margin-bottom: 10px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.or hr {
    width: 35%;
    height: 5px;
}

.or span {
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 800;
}

.signup-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

.signup-form label {
    font-weight: 600;
    font-size: 16px;
    width: 80%;
    margin: 0 auto 15px auto;
}

.signup-form .signup-error {
    color: #ff0000;
    width: 80%;
    margin: 0 auto 8px auto;
}

.forget-password_container {
    margin-top: 60px !important;
}

.signup-input {
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 10px;
    height: 48px;
    margin: 0 auto 25px auto;
    width: 80%;
}

.signup-btn {
    padding: 15px;
    background-color: #31aa52;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto 35px auto;
}

.password,
.email {
    width: 80%;
    margin: -15px auto 35px auto;
}

.signup-btn:hover {
    background-color: #2dc556;
    transition: 0.5s background-color;
}

.form-link {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.form-link a {
    color: #31aa52;
    text-decoration: none;
}

.signup-img {
    width: 50%;
    background-image: url(https://res.cloudinary.com/oluwatobiloba/image/upload/v1591804693/incredible%20project/flower_twa5ig.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .google-btn {
        padding-left: 60px;
        width: auto;
    }

    .google-signup-btn img {
        padding: 15px;
        width: 53px;
    }

    .signup-form {
        padding: 20px;
    }

    .signup-form label {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

/* @media screen and (min-width: 320px) and (max-width: 767px) {
  .signup-form-container {
    flex-direction: column;
  }

  .signup-container {
    width: 100%;
  }

  .signup-img {
    display: none;
  }

  .google-btn {
    padding: 15px;
    font-size: 16px;
    height: 50px;
    padding-left: 55px;
    width: auto;
  }

  .google-signup-btn img {
    padding: 12px;
    width: 50px;
  }

  .signup-form {
    padding: 45px;
  }

} */

@media screen and (max-width: 320px) {
    .signup-form-container {
        flex-direction: column;
    }

    .signup-container {
        width: 100%;
    }

    .signup-img {
        display: none;
    }

    .google-btn {
        padding: 15px;
        height: 50px;
        padding-left: 55px;
        width: auto;
    }

    .google-signup-btn img {
        padding: 12px;
        width: 50px;
    }

    .signup-form {
        padding: 10px;
    }

    .signup-form label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .signup-input {
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .signup-btn {
        height: 40px;
        padding: 10px;
        margin-top: 15px;
    }

    .or span {
        font-size: 16px;
        font-weight: normal;
    }

    .form-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .signup-form-container {
        flex-direction: column;
    }

    .signup-container {
        width: 100% !important;
    }

    .signup-img {
        display: none;
    }

    .google-btn {
        padding: 15px;
        height: 50px;
        padding-left: 55px;
        width: auto;
    }

    .google-signup-btn img {
        padding: 12px;
        width: 50px;
    }

    .signup-form {
        padding: 10px;
    }

    .signup-form label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .signup-input {
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .signup-btn {
        height: 40px;
        padding: 10px;
        margin-top: 15px;
    }

    .or span {
        font-size: 16px;
        font-weight: normal;
    }

    .form-link {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .signup-form-container {
        flex-direction: column;
    }

    /* .signup-input {
      width: auto;
    } */
    .signup-container {
        width: 85%;
    }

    .signup-img {
        display: none;
    }

    .google-btn {
        padding: 15px;
        height: 50px;
        padding-left: 55px;
        width: auto;
    }

    .google-signup-btn img {
        padding: 12px;
        width: 50px;
    }

    .signup-form {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }

    .signup-form label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .signup-input {
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .signup-btn {
        height: 40px;
        padding: 10px;
        margin-top: 15px;
    }

    .or span {
        font-size: 16px;
        font-weight: normal;
    }

    .form-link {
        font-size: 18px;
    }
}
