/* @Tobecci & @Olanetsoft */


.login-form-container {
    width: 100%;
    display: flex;
}

.login-container {
    width: 50%;
    padding: 30px 0px 30px 0px;
    margin: 0 auto;
    text-align: center;
}

.login-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: -15px;
}

.google-btn {
    height: 55px;
    padding: 0 20px;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 10px;
    font-size: 14px;
    color: red;
    font-weight: 700;
    padding-left: 50px;
    cursor: pointer;
}

.google-btn a {
    text-decoration: none;
    color: red;
}

.google-btn:hover {
    border: 2px solid #bf2c2c;
    color: #bf2c2c;
    transition: 0.5s all;
}

.google-login-btn img {
    position: absolute;
    padding: 18px 13px 0px 15px;
    width: 45px;
}

.google-login-btn {
    width: 100%;
    margin-bottom: 10px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.or hr {
    width: 35%;
    height: 5px;
}

.or span {
    padding: 0px 20px;
    font-size: 14px;
    font-weight: 800;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 15px;
}

.login-form label {
    font-weight: 600;
    font-size: 16px;
    width: 80%;
    margin: 0 auto 15px auto;
}

.login-error-response {
    color: #ff0000;
    width: 80%;
    margin: 0 auto 18px auto;
}

.login-form .login-error {
    color: #ff0000;
    font-size: 12px;
    width: 80%;
    margin: 0 auto 5px auto;
}

.login-input {
    border: 1px solid #b8b8b8;
    padding: 10px;
    border-radius: 10px;
    height: 48px;
    margin: 0 auto 25px auto;
    width: 80%;
}

.login-btn {
    padding: 15px;
    background-color: #31aa52;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 50px;
    cursor: pointer;
    width: 80%;
    margin: 0 auto 35px auto;
}

.login-btn:hover {
    background-color: #2dc556;
    transition: 0.5s background-color;
}

.form-link {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    color: #888;
}

.form-link.forgot-password {
    width: 80%;
    text-decoration: none;
    display: block;
    margin: 10px auto 16px auto;
    text-align: left;
    cursor: pointer;
}

.form-link.forgot-password:hover {
    color: #31aa52;
}

.form-link a {
    color: #31aa52;
    text-decoration: none;
}

.login-img {
    width: 50%;
    background-image: url(https://res.cloudinary.com/oluwatobiloba/image/upload/v1591804693/incredible%20project/flower_twa5ig.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 381px) {
    nav li:nth-child(4) {
        top: 8px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .google-btn {
        padding-left: 60px;
        width: auto;
    }

    .google-login-btn img {
        padding: 15px;
        width: 53px;
    }

    .login-form {
        padding: 20px;
    }

    .login-form label {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .login-form-container {
        flex-direction: column;
    }

    .login-container {
        width: 100%;
    }

    .login-img {
        display: none;
    }

    .google-btn {
        padding: 15px;
        height: 50px;
        padding-left: 55px;
        width: auto;
    }

    .google-login-btn img {
        padding: 12px;
        width: 50px;
    }

    .login-form {
        padding: 10px;
    }

    .login-form label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .login-input {
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .login-btn {
        height: 40px;
        padding: 10px;
        margin-top: 15px;
    }

    .or span {
        font-size: 16px;
        font-weight: normal;
    }

    .form-link {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .login-form-container {
        flex-direction: column;
    }

    .login-container {
        width: 100% !important;
    }

    .login-img {
        display: none;
    }

    .google-btn {
        padding: 15px;
        height: 50px;
        padding-left: 55px;
        width: auto;
    }

    .google-login-btn img {
        padding: 12px;
        width: 50px;
    }

    .login-form {
        padding: 10px;
    }

    .login-form label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .login-input {
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .login-btn {
        height: 40px;
        padding: 10px;
        margin-top: 15px;
    }

    .or span {
        font-size: 16px;
        font-weight: normal;
    }

    .form-link {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .login-form-container {
        flex-direction: column;
    }

    /* .login-input {
      width: auto;
    } */
    .login-container {
        width: 85%;
    }

    .login-img {
        display: none;
    }

    .google-btn {
        padding: 15px;
        height: 50px;
        padding-left: 55px;
        width: auto;
    }

    .google-login-btn img {
        padding: 12px;
        width: 50px;
    }

    .login-form {
        padding: 10px;
        width: 100%;
        margin: 0 auto;
    }

    .login-form label {
        font-size: 16px;
        margin-bottom: 12px;
    }

    .login-input {
        height: 40px;
        padding: 10px;
        margin-bottom: 15px;
    }

    .login-btn {
        height: 40px;
        padding: 10px;
        margin-top: 15px;
    }

    .or span {
        font-size: 16px;
        font-weight: normal;
    }

    .form-link {
        font-size: 14px;
    }
}